@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to News Media</h1>
    <p>Register/Login to see the Latest News Reports and have your say by commenting or publishing your own News Report </p>
</div>
