@model NewsMedia.Data.CommentItem
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CommentItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" value="@UserManager.GetUserId(User)" disabled hidden/>
            </div>*@
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <input asp-for="CommentText" class="form-control" />
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ReportId"/>
           
@*            <div class="form-group">
                <label asp-for="ReportId" class="control-label"></label>
                <input asp-for="ReportId" class="form-control" />
                <span asp-validation-for="ReportId" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" value="@DateTime.Today" disabled hidden/>
             </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="NewsReports" asp-action="Index">Back to Report List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
