@using Microsoft.AspNetCore.Identity
@model NewsMedia.Data.NewsReport

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>NewsReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
           @*@ <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="LastModifiedDate" class="control-label"></label>
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>*@
@*            <div class ="form-group">
                <label asp-for="Publish" class="control-label"></label>

                @Html.DropDownListFor(m => m.PublishType,(ViewBag.PublishTypeSelectList as SelectList), "Select Publish")
            </div>*@
           @* <div class="form-group">
                <label asp-for="CreationEmail" class="control-label"></label>
                <input asp-for="CreationEmail" class="form-control" />
                <span asp-validation-for="CreationEmail" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="CreationEmail" value=@User.Identity.Name disabled />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}
